<head>
    <meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>VTange Architectural Design</title>
    <meta name="description" content="starter"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script type="text/javascript" src="assets/js/app.js"></script>
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<article class="thumb">
							<a href="/ukiyo" class="image"><img src="http://res.cloudinary.com/dmj8qtant/image/upload/c_limit,h_400,w_600/v1456476080/44159284type1_2016_nqt4gl.jpg" alt="" /></a>
							<h2>Ukiyo</h2>
						</article>
						<article class="thumb">
							<a href="/live-make" class="image"><img src="" alt="" /></a>
							<h2>LIVE MAKE</h2>
						</article>
						<article class="thumb">
							<a href="/rolling-thunder" class="image"><img src="images/thumbs/03.jpg" alt="" /></a>
							<h2>Rolling Thunder</h2>
						</article>
						<article class="thumb">
							<a href="/shrouded-pearl" class="image"><img src="images/thumbs/04.jpg" alt="" /></a>
							<h2>Shrouded Pearl</h2>
						</article>
						<article class="thumb">
							<a href="/sf-village" class="image"><img src="images/thumbs/05.jpg" alt="" /></a>
							<h2>SF Village</h2>
						</article>
						<article class="thumb">
							<a href="/sf-resurrection" class="image"><img src="images/thumbs/06.jpg" alt="" /></a>
							<h2>Resurrection</h2>
						</article>
					</div>
			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
