<!DOCTYPE HTML>
<html>
	<head>
		<title>Resurrection SF</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-loading-0 is-loading-1 is-loading-2">

		<!-- Main -->
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>Resurrection SF</h1>
						<p>Just another fine responsive site template by <a href="http://html5up.net">HTML5 UP</a></p>
					</header>

				<!-- Thumbnail -->
				<span><h2 id="home-link">Home</h2></span>
				<div class="menu-item">
					<section id="thumbnails">
						<article>
							<a class="thumbnail" href="http://res.cloudinary.com/dmj8qtant/image/upload/v1456478360/arch/reale_srlqlm.jpg" data-position="left center"><img src="http://res.cloudinary.com/dmj8qtant/image/upload/c_scale,w_400/v1456478360/arch/reale_srlqlm.jpg" alt="" /></a>
							<h2>Diam tempus accumsan</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</article>
						<article>
							<a class="thumbnail" href="http://res.cloudinary.com/dmj8qtant/image/upload/v1456478369/arch/DSCN6360e_plwuzi.jpg"><img src="http://res.cloudinary.com/dmj8qtant/image/upload/c_scale,w_400/v1456478369/arch/DSCN6360e_plwuzi.jpg" alt="" /></a>
							<h2>Vivamus convallis libero</h2>
							<p>Sed velit lacus, laoreet at venenatis convallis in lorem tincidunt.</p>
						</article>
						<article>
							<a class="thumbnail" href="http://res.cloudinary.com/dmj8qtant/image/upload/v1456478372/arch/DSCN6425e_ww5p60.jpg" data-position="top center"><img src="http://res.cloudinary.com/dmj8qtant/image/upload/c_scale,w_400/v1456478372/arch/DSCN6425e_ww5p60.jpg" alt="" /></a>
							<h2>Nec accumsan enim felis</h2>
							<p>Maecenas eleifend tellus ut turpis eleifend, vitae pretium faucibus.</p>
						</article>
						<article>
							<a class="thumbnail" href="http://res.cloudinary.com/dmj8qtant/image/upload/v1456478375/arch/DSCN6423e_l7qdmf.jpg"><img src="http://res.cloudinary.com/dmj8qtant/image/upload/c_scale,w_400/v1456478375/arch/DSCN6423e_l7qdmf.jpg" alt="" /></a>
							<h2>Donec maximus nisi eget</h2>
							<p>Tristique in nulla vel congue. Sed sociis natoque parturient nascetur.</p>
						</article>
						<article>
							<a class="thumbnail" href="http://res.cloudinary.com/dmj8qtant/image/upload/v1456478379/arch/DSCN6413e_rn6chu.jpg" data-position="top center"><img src="http://res.cloudinary.com/dmj8qtant/image/upload/c_scale,w_400/v1456478379/arch/DSCN6413e_rn6chu.jpg" alt="" /></a>
							<h2>Nullam vitae nunc vulputate</h2>
							<p>In pellentesque cursus velit id posuere. Donec vehicula nulla.</p>
						</article>
					</section>
				</div>
				<span><h2 id="process-link">Process</h2></span>
				<div class="menu-item">
					<section id="thumbnails1">
						<article>
							<a class="thumbnail" href="http://res.cloudinary.com/dmj8qtant/image/upload/v1456478418/arch/SCAN0049_sypxn1.jpg" data-position="left center"><img src="http://res.cloudinary.com/dmj8qtant/image/upload/c_scale,w_400/v1456478418/arch/SCAN0049_sypxn1.jpg" alt="" /></a>
							<h2>Diam tempus accumsan</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</article>
						<article>
							<a class="thumbnail" href="http://res.cloudinary.com/dmj8qtant/image/upload/v1456478423/arch/lego_ipzepz.jpg"><img src="http://res.cloudinary.com/dmj8qtant/image/upload/c_scale,w_400/v1456478423/arch/lego_ipzepz.jpg" alt="" /></a>
							<h2>Vivamus convallis libero</h2>
							<p>Sed velit lacus, laoreet at venenatis convallis in lorem tincidunt.</p>
						</article>
						<article>
							<a class="thumbnail" href="http://res.cloudinary.com/dmj8qtant/image/upload/v1456478430/arch/Googleearth2E_xx8hpc.jpg" data-position="top center"><img src="http://res.cloudinary.com/dmj8qtant/image/upload/c_scale,w_400/v1456478430/arch/Googleearth2E_xx8hpc.jpg" alt="" /></a>
							<h2>Nec accumsan enim felis</h2>
							<p>Maecenas eleifend tellus ut turpis eleifend, vitae pretium faucibus.</p>
						</article>
					</section>
				</div>
				<span><h2 id="plans-link">Plans</h2></span>
				<div class="menu-item">
					<section id="thumbnails2">
						<article>
							<a class="thumbnail" href="http://res.cloudinary.com/dmj8qtant/image/upload/v1456478360/arch/reale_srlqlm.jpg" data-position="left center"><img src="http://res.cloudinary.com/dmj8qtant/image/upload/c_scale,w_400/v1456478360/arch/reale_srlqlm.jpg" alt="" /></a>
							<h2>Diam tempus accumsan</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</article>
						<article>
							<a class="thumbnail" href="http://res.cloudinary.com/dmj8qtant/image/upload/v1456478369/arch/DSCN6360e_plwuzi.jpg"><img src="http://res.cloudinary.com/dmj8qtant/image/upload/c_scale,w_400/v1456478369/arch/DSCN6360e_plwuzi.jpg" alt="" /></a>
							<h2>Vivamus convallis libero</h2>
							<p>Sed velit lacus, laoreet at venenatis convallis in lorem tincidunt.</p>
						</article>
					</section>
				</div>
			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>