<!DOCTYPE HTML>
<html>
	<head>
		<title>Resurrection SF</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-loading-0 is-loading-1 is-loading-2">

		<!-- Main -->
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>Resurrection SF</h1>
						<p>Reviving the Ruth Asawa Art School via integrated affordable housing.</p>
					</header>

				<!-- Thumbnail -->
				<span><h2 id="home-link">Home</h2></span>
				<div class="menu-item">
					<section id="thumbnails">
						<article>
							<a class="thumbnail" href="http://res.cloudinary.com/dmj8qtant/image/upload/v1456478360/arch/reale_srlqlm.jpg" data-position="left center"><img src="http://res.cloudinary.com/dmj8qtant/image/upload/c_scale,w_400/v1456478360/arch/reale_srlqlm.jpg" alt="" /></a>
							<h2>PLAZA</h2>
							<p>The former courtyard of 135 Van Ness Ave. is preserved, and shared amongst users of the Art School and housing residents</p>
						</article>
						<article>
							<a class="thumbnail" href="http://res.cloudinary.com/dmj8qtant/image/upload/v1456478369/arch/DSCN6360e_plwuzi.jpg"><img src="http://res.cloudinary.com/dmj8qtant/image/upload/c_scale,w_400/v1456478369/arch/DSCN6360e_plwuzi.jpg" alt="" /></a>
							<h2>VAN NESS</h2>
							<p>The residential tower was carefully shaped to evoke a light and colorful mass overlooking the nearby S.F. Symphony building and other nearby art venues. Above the immediate streetfront is a line of "rooftop studio" apartments whose geometric form conforms to the common roof geometry seen in the S.F. Civic Center District.</p>
						</article>
						<article>
							<a class="thumbnail" href="http://res.cloudinary.com/dmj8qtant/image/upload/v1456478372/arch/DSCN6425e_ww5p60.jpg" data-position="top center"><img src="http://res.cloudinary.com/dmj8qtant/image/upload/c_scale,w_400/v1456478372/arch/DSCN6425e_ww5p60.jpg" alt="" /></a>
							<h2>FRANKLIN</h2>
							<p>The rear side of the art school, its "butterfly" roof continuing the theme of a light addition of newness to a preserved historic complex of buildings. The former business school of Fell St. to be integrated with the school as well.</p>
						</article>
						<article>
							<a class="thumbnail" href="http://res.cloudinary.com/dmj8qtant/image/upload/v1456478375/arch/DSCN6423e_l7qdmf.jpg"><img src="http://res.cloudinary.com/dmj8qtant/image/upload/c_scale,w_400/v1456478375/arch/DSCN6423e_l7qdmf.jpg" alt="" /></a>
							<h2>FELL</h2>
							<p>Tower heights and volumes were carefully managed to gracefully "step down" from the new and tall 100 Van Ness Residential Tower to the more down-to-earth scale of the Hayes Valley neighborhood.</p>
						</article>
						<article>
							<a class="thumbnail" href="http://res.cloudinary.com/dmj8qtant/image/upload/v1456478379/arch/DSCN6413e_rn6chu.jpg" data-position="top center"><img src="http://res.cloudinary.com/dmj8qtant/image/upload/c_scale,w_400/v1456478379/arch/DSCN6413e_rn6chu.jpg" alt="" /></a>
							<h2>GOUGH</h2>
							<p>The main tower at evening hour, demonstrating that a great volume of housing can be achieved seemingly without mass or overpowering presence in the neighborhood. </p>
						</article>
					</section>
				</div>
				<span><h2 id="process-link">Process</h2></span>
				<div class="menu-item">
					<section id="thumbnails1">
						<article>
							<a class="thumbnail" href="http://res.cloudinary.com/dmj8qtant/image/upload/v1456478418/arch/SCAN0049_sypxn1.jpg" data-position="left center"><img src="http://res.cloudinary.com/dmj8qtant/image/upload/c_scale,w_400/v1456478418/arch/SCAN0049_sypxn1.jpg" alt="" /></a>
							<h2>BUTTERFLY ALLEYWAY</h2>
							<p>Envisioned entrance to the new art school from the side of Franklin Ave. Students enter a majestically tall space and are immediately greeted with galleries and showings of art from other students.</p>
						</article>
						<article>
							<a class="thumbnail" href="http://res.cloudinary.com/dmj8qtant/image/upload/v1456478423/arch/lego_ipzepz.jpg"><img src="http://res.cloudinary.com/dmj8qtant/image/upload/c_scale,w_400/v1456478423/arch/lego_ipzepz.jpg" alt="" /></a>
							<h2>"LEGO" MASSING</h2>
							<p>Used Legos to quickly perform massing studies for tower design. In one hour more than five options had been explored, complete with floor area and volume calculations. All by just measuring the Lego models and doing a bit of math.</p>
						</article>
						<article>
							<a class="thumbnail" href="http://res.cloudinary.com/dmj8qtant/image/upload/v1456478430/arch/Googleearth2E_xx8hpc.jpg" data-position="top center"><img src="http://res.cloudinary.com/dmj8qtant/image/upload/c_scale,w_400/v1456478430/arch/Googleearth2E_xx8hpc.jpg" alt="" /></a>
							<h2>GOOGLE EARTH MASSING</h2>
							<p>Massing model placed over the Google Earth model for the city of San Francisco. 100 Van Ness is obviously not updated yet.</p>
						</article>
					</section>
				</div>
				<span><h2 id="plans-link">Plans</h2></span>
				<div class="menu-item">
					<section id="thumbnails2">
						<article>
							<a class="thumbnail" href="http://res.cloudinary.com/dmj8qtant/image/upload/v1457315381/arch/SCHOOLADDITION2.jpg" data-position="left center"><img src="http://res.cloudinary.com/dmj8qtant/image/upload/c_scale,w_400/v1457315381/arch/SCHOOLADDITION2.jpg" alt="" /></a>
							<h2>ART SCHOOL ADDITIONS</h2>
							<p>The new Art School retains use of all preserved structures, and sees the addition of some newer, light-steel structures, shown in blue.</p>
						</article>
						<article>
							<a class="thumbnail" href="http://res.cloudinary.com/dmj8qtant/image/upload/v1457315384/arch/slabfloore.jpg" data-position="left center"><img src="http://res.cloudinary.com/dmj8qtant/image/upload/c_scale,w_400/v1457315384/arch/slabfloore.jpg" alt="" /></a>
							<h2>LOWER TOWER</h2>
							<p>Floorplan of the shorter, Lower Tower. Connects to the "rooftop studio" apartments that are featured as the roof of the new 135 Van Ness Ave. streetfront.</p>
						</article>
						<article>
							<a class="thumbnail" href="http://res.cloudinary.com/dmj8qtant/image/upload/v1457315390/arch/towerfloor.jpg"><img src="http://res.cloudinary.com/dmj8qtant/image/upload/c_scale,w_400/v1457315390/arch/towerfloor.jpg" alt="" /></a>
							<h2>UPPER TOWER</h2>
							<p>Floorplan of the taller, Upper Tower.</p>
						</article>
					</section>
				</div>
			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>