<!DOCTYPE HTML>
<!--
	Hyperspace by HTML5 UP
	html5up.net | @n33co
	Modified by vtange
	vtange.net  | @_vtange
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Village SF</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Welcome</a></li>
							<li><a href="#one">Design</a></li>
							<li><a href="#two">Concept</a></li>
							<li><a href="#three">Drawings</a></li>
							<li><a href="#four">Team</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">
						<img id="logo" src="http://res.cloudinary.com/dmj8qtant/image/upload/v1456874250/villageSF_krulxq.png"/>
				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div id="white-cover">
						</div>
						<div class="inner">
							<p>Learn about San Francisco’s heritage and history<br>by immersing yourself in a blend of old and new.</p>
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<a href="#" class="image"><img src="http://res.cloudinary.com/dmj8qtant/image/upload/c_limit,w_600/v1456793147/arch/SFSITE.jpg" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Site</h2>
									<p>
The site of this project was located at 610 Old Mason St, San Francisco, CA 94129, between Crissy Field and a new landbridge that is part of the Presidio Parkway project currently under construction over Highway 101. The landbridge will connect with a walkable route the historically significant buildings of the Presidio with Crissy Field, a former U.S. Army airfield now repurposed as a national park. Excluding parking, the new cultural institute is expected to measure an estimated 130,000 square feet in area, most of it exhibition and educational space.</p>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="http://res.cloudinary.com/dmj8qtant/image/upload/c_limit,w_600/v1456478513/arch/plazae_oangna.jpg" alt="" data-position="top center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Place</h2>
									<p>
The program of the design concept, The Village, centered on the approach to the cultural institute as an analogy to a historical Native American village. The team took inspiration from the Presidio and designed the cultural institute as a collection of buildings, each dedicated to their function, united with a common environment, much like the Main Post unites the many buildings that constitute the Presidio, which also each hold their own unique function.
</p>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="http://res.cloudinary.com/dmj8qtant/image/upload/c_limit,w_600/v1456478515/arch/11242013-555pm_gxb3mc.jpg" alt="" data-position="25% 25%" /></a>
							<div class="content">
								<div class="inner">
									<h2>Interior</h2>
									<p>The larger main exhibition building benefits from a great view of Crissy Field and the Golden Gate. Atop the building, one can overlook the rest of the complex with its green roofs and landscaping while resting from walking through the main exhibition space.</p>
								</div>
							</div>
						</section>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>Design Concept</h2>
							<div class="features">
								<section>
									<a href="#" class="image"><img src="http://res.cloudinary.com/dmj8qtant/image/upload/c_limit,w_200/v1456865925/INSTITUTION-01_qlepgv.jpg" alt="" data-position="25% 25%" /></a>
									<div class="content">
										<h3>Values</h3>
										<p>A list of values were created and grouped to form relationships from which an architecture can be derived.</p>
									</div>
								</section>
								<section>
									<a href="#" class="image"><img src="http://res.cloudinary.com/dmj8qtant/image/upload/c_limit,w_200/v1456793059/arch/Sketch.jpg" alt="" data-position="25% 25%" /></a>
									<div class="content">
										<h3>The Village</h3>
										<p>The image of an Ohlone village, which once stood beside the very ground that was the site of the project.</p>
									</div>
								</section>
								<section>
									<a href="#" class="image"><img src="http://res.cloudinary.com/dmj8qtant/image/upload/c_limit,w_200/v1456793046/arch/Primitive_concept_copy.jpg" alt="" data-position="25% 25%" /></a>
									<div class="content">
										<h3>The Basic Hut</h3>
										<p>The round plan of a basic Ohlone hut. A unit of shelter for the historical residents of the San Francisco area.</p>
									</div>
								</section>
								<section>
									<a href="#" class="image"><img src="http://res.cloudinary.com/dmj8qtant/image/upload/c_limit,w_200/v1456865929/roundedsquare_mnnwso.jpg" alt="" data-position="25% 25%" /></a>
									<div class="content">
										<h3>Half Round, Half Square</h3>
										<p>Mixing the round plan of the hut with the rectangular plans of modern structures to yield a common form for buildings of the complex.</p>
									</div>
								</section>

							</div>
						</div>
					</section>

								
				<!-- Three -->
					<section id="three" class="wrapper style2 spotlights2">
						<section>
							<a href="#" class="image"><img src="http://res.cloudinary.com/dmj8qtant/image/upload/v1456478660/arch/AA_copy_i23fg4.jpg" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Exterior</h2>
									<p>The facade design attempts to mimic the thatched texture of Ohlone huts. Corten steel, a material selected for its rustic feel and color connection with the brick material seen in the Presidio, is oriented vertically in strips with seemingly random spacing inbetween the strips. Spacing is wider for facade in front of curtain walls to not obstruct views. The strips extend past the roof level in a parapet-like manner, further expressing the Ohlone hut form.</p>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="http://res.cloudinary.com/dmj8qtant/image/upload/v1456814623/arch/Diagram-01.jpg" alt="" data-position="top center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Energy</h2>
									<p>Tidal power was to be harnessed under the bay nearby. The complex was also designed to take advantage of its landscape and route precious rainwater to collection areas. Green roofs were employed to both control heat and provide for a closer-to-nature environment the Native of San Francisco lived in.</p>
								</div>
							</div>
						</section>
					</section>
				
				<!-- Four -->
					<section id="four" class="wrapper style2 spotlights">
						<section>
							<a href="#" class="image"><img src="http://res.cloudinary.com/dmj8qtant/image/upload/c_limit,w_600/v1456874247/team_pgyhej.jpg" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Team</h2>
									<p>Our team was a five-man team of two architecture majors, two landscape architecture majors, and one architectural engineer. The other architect in the group was an exchange student from France. We had a great time working together and learned a lot about the smooth and not-so-smooth parts of interdisciplinary design. Our group name was “The Villagers”, made to connect the team with the general motif in our design work.</p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<div class="inner">
									<ul class="actions">
										<li><a href="#" class="button">Back to Top</a></li>
									</ul>
								</div>
							</div>
						</section>
				</section>
			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>