<html>
    <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style-0.css"/>
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css"/>
    </head>
  <body>
	  
	  
        <div name="slide1" id="slide1" class="slide">
            <div class="centered-text">
                <h1>vTangent</h1>
                <h4>The Cutting Edge.</h4>
            </div>
			<div class="box">
            <h1>vTangent</h1>
            <h3><p>

I'm a self taught web designer, developer, co-founder and entrepreneur based in Cupertino.
I'm currently looking for employment in building web applications, with an emphasis on productivity apps.
My passion is to "gamify" today's productivity apps into more intuitive, fun-to-use programs.
Languages and Frameworks:
Javascript, HTML5, CSS3, jQuery, Bootstrap3, Angular.js, Node.js
Tools & expertise:
Git, Responsive Web Design
                
                </p></h3>
          </div>
        </div>

        <div name="slide2" id="slide2" class="slide">

        </div>   
        <div name="slide3" id="slide3" class="slide" style="padding: 5vh 10%;">
            <div class="centered-text">   
                <h1>Slick Portfolio.</h1>                
                <h2>Below you'll find some of my recent work.</h2>           
            </div>
            <div class="gallery">
                <div class="row">
                    <div class="col-md-4">
                        <a href="#">
                            <div class="gal-box">
                                <img style="width:100%;" src="screenshot-codepen%20io%202015-10-15%2001-31-44.png"/>
                                Random Quotes Rewritten
                                <p>Jquery, Bootstrap</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="#">
                            <div class="gal-box">
                                <img style="width:100%;" src="screenshot-codepen%20io%202015-10-15%2001-32-26.png"/>
                                Simple Weather App
                                <p>Jquery, Bootstrap</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="#">
                            <div class="gal-box">
                                Coming Soon!
                                <p></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <a href="#">
                            <div class="gal-box">
                                <img style="width:100%;" src="http://vtang.smalldel.com/wp-content/uploads/2015/11/screenshot-vtange-github-io-2015-10-26-22-01-03.png"/>
                                TOS Database App
                                <p>Jquery, Bootstrap, AngularJS</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="#">
                            <div class="gal-box">
                                <img style="width:100%;" src="http://vtang.smalldel.com/wp-content/uploads/2015/11/screenshot-vtange-github-io-2015-10-26-21-59-56.png"/>
                                 TOS Formatter App
                                <p>Jquery, Bootstrap, AngularJS</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="#">
                            <div class="gal-box">
                                Coming Soon!
                                <p></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div name="slide4" id="slide4" class="slide" style="padding: 10vh 10%;">
            <div class="email-info" style="color:black; width:50%;">            
                <h2>
Connect vTangent: vtang@smalldel.com
                </h2>           
            </div>
            <ul class="links3">
                  <a href="https://twitter.com/vtang_e" class="link"><li><h5><i class="fa fa-twitter fa-fw"></i>Twitter</h5></li></a>
                  <a href="https://github.com/vtange" class="link"><li><h5><i class="fa fa-github fa-fw"></i>Github</h5></li></a>
                  <a href="www.linkedin.com/in/vtangy" class="link"><li><h5><i class="fa fa-linkedin fa-fw"></i>LinkedIn</h5></li></a>
                  <a href="http://www.freecodecamp.com/vtange" class="link"><li><h5><i class="fa fa-fire fa-fw"></i>FreeCodeCamp</h5></li></a>
            </ul>
        </div>
  </body>
</html>
      