<!DOCTYPE HTML>
<html>
    <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style-0.css"/>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="app.js"></script>
    </head>
  <body id="fullpage">
	  
        <div name="slide1" id="slide1" class="section">
			<div class="desc-container">
				<div class="centered-text">
					<h1>Ukiyo</h1>
					<h4>Life within a world you define.</h4>
				</div>
				<div class="box">
						<h3><p>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacinia cursus metus, nec interdum felis auctor eleifend. Vestibulum faucibus porta quam nec dapibus. Mauris ornare dapibus nisl, in aliquet ipsum rhoncus ac. Morbi tempus sed lectus sed lobortis. Fusce vitae imperdiet risus. Curabitur elit sem, rhoncus vel luctus sed, bibendum eget massa. Nam quam risus, efficitur non venenatis nec, porta quis libero. Mauris vitae nunc ut purus varius tempus. Curabitur nisl diam, pulvinar scelerisque tristique in, condimentum eu mi. Vestibulum ac quam mattis, sodales est a, lobortis lorem. Fusce dignissim luctus leo sit amet viverra. Aenean iaculis metus nec ligula molestie, vel ornare augue condimentum. Vestibulum eu elementum urna, ut ullamcorper turpis. Duis volutpat iaculis nunc, eu dapibus eros. 

						</p></h3>
			  </div>
			</div>
        </div>

        <div name="slide2" id="slide2" class="section">
			<div class="box">
					<h3><p>
						
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacinia cursus metus, nec interdum felis auctor eleifend. Vestibulum faucibus porta quam nec dapibus. Mauris ornare dapibus nisl, in aliquet ipsum rhoncus ac. Morbi tempus sed lectus sed lobortis. Fusce vitae imperdiet risus. Curabitur elit sem, rhoncus vel luctus sed, bibendum eget massa. Nam quam risus, efficitur non venenatis nec, porta quis libero. Mauris vitae nunc ut purus varius tempus. Curabitur nisl diam, pulvinar scelerisque tristique in, condimentum eu mi. Vestibulum ac quam mattis, sodales est a, lobortis lorem. Fusce dignissim luctus leo sit amet viverra. Aenean iaculis metus nec ligula molestie, vel ornare augue condimentum. Vestibulum eu elementum urna, ut ullamcorper turpis. Duis volutpat iaculis nunc, eu dapibus eros. 

					</p></h3>
          </div>
        </div>   
        <div name="slide3" id="slide3" class="section" style="padding: 5vh 10%;">
			<div class="box">
					<h3><p>
						
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacinia cursus metus, nec interdum felis auctor eleifend. Vestibulum faucibus porta quam nec dapibus. Mauris ornare dapibus nisl, in aliquet ipsum rhoncus ac. Morbi tempus sed lectus sed lobortis. Fusce vitae imperdiet risus. Curabitur elit sem, rhoncus vel luctus sed, bibendum eget massa. Nam quam risus, efficitur non venenatis nec, porta quis libero. Mauris vitae nunc ut purus varius tempus. Curabitur nisl diam, pulvinar scelerisque tristique in, condimentum eu mi. Vestibulum ac quam mattis, sodales est a, lobortis lorem. Fusce dignissim luctus leo sit amet viverra. Aenean iaculis metus nec ligula molestie, vel ornare augue condimentum. Vestibulum eu elementum urna, ut ullamcorper turpis. Duis volutpat iaculis nunc, eu dapibus eros. 

					</p></h3>
          </div>
      
        </div>
  </body>
</html>
      