<!DOCTYPE HTML>
<html>
    <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style-0.css"/>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="app.js"></script>
    </head>
  <body id="fullpage">
	  
        <div name="slide1" id="slide1" class="section">
			<div class="desc-container">
				<div class="centered-text">
					<h1>Ukiyo</h1>
					<h4>Life within a world you define.</h4>
				</div>
				<div class="box">
						<h3><p> A take on housing for Japan’s geek-subculture in a mixed-use structure located in the heart of Tokyo,
this mixed-use project was inspired by the heterogeneous nature of modern Japanese society. <br><br>Located in Shibuya-ku, Tokyo, a highly commercialized area where consumerism dominates, the project seeked to relate to its site by catering to its consumerist population. <br><br> The project targeted a mock clientale that emphasizes individuality through personal obsessions, manifested through possessions. The client craved immersion in his or her own personal world, surrounded by their prized possessions. They relate themselves back to the real world in the same manner that their possessions were sold to them in the first place: display.
						</p></h3>
			  </div>
			</div>
        </div>

        <div name="slide2" id="slide2" class="section">
			<div class="box">
					<h3><p>
This project attempted to foster this emphasis on showing off material possessions. <br><br>Opportunities for display are placed throughout the building. Visitors circulating through the building will find themselves immersed in a universe containing many worlds, constructed by others with their prized belongings. At the main elevator shaft, visitors can travel via a transparent elevator car, from which they are able to see various objects and pop culture at display, courtesy of their owners.
					</p></h3>
          </div>
        </div>   
        <div name="slide3" id="slide3" class="section" style="padding: 5vh 10%;">
			<div class="box">
					<h3><p>
						
The south-facing facade features a fritted-glass facade carefully designed to control solar heat gain. The frit pattern and color is customizable to the residents’ preferences. <br><br> Much of the building's non-transparent surfaces are dark-colored, to help emphasize posters and other imagery by giving a dark, contrasting background, much like one sees in computer screens and other electronics.

					</p></h3>
          </div>
      
        </div>
  </body>
</html>
      