<html>
    <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style-0.css"/>
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css"/>
    </head>
  <body>
		<div class="box">
            <h3><p>

I'm a self taught web designer, developer, co-founder and entrepreneur based in Cupertino.
I'm currently looking for employment in building web applications, with an emphasis on productivity apps.
My passion is to "gamify" today's productivity apps into more intuitive, fun-to-use programs.
Languages and Frameworks:
Javascript, HTML5, CSS3, jQuery, Bootstrap3, Angular.js, Node.js
Tools & expertise:
Git, Responsive Web Design
                
                </p></h3>
          </div>
	  
        <div name="slide1" id="slide1" class="slide">
            <div class="centered-text">
                <h1>vTangent</h1>
                <h4>The Cutting Edge.</h4>
            </div>
        </div>

        <div name="slide2" id="slide2" class="slide">

        </div>   
        <div name="slide3" id="slide3" class="slide" style="padding: 5vh 10%;">

      
        </div>
  </body>
</html>
      