/*features Pure CSS Parallax Scrolling by Keith Clark at http://codepen.io/keithclark/pen/JycFw   , modified to suit uses*/
body{
}
.section:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
}
.section {
  position: relative;
  box-sizing: border-box;
  padding: 25vh 10%;
  min-height: 100vh;
  transform-style: inherit;
  box-shadow: 0.25em 0em 0.5em 0.5em rgba(0,0,0,0.35);
}
.centered-text{
  text-align: center;
}
.desc-container{
  position: absolute;
  left:10%;
  top:10%;
}
.box {
  width: 500px;
  padding: 50px;
  border-radius: 5px;
  background: rgba(0,0,0, .65);
  color:#ddd;
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
	z-index: 2;
}
.box p{
  line-height: 1.35em;
	letter-spacing: .05em;
}
.box h3{
  font-size: 1.35em;
}

.row {
    margin-top:1.5em;
}
#slide1 h1{
    color: #ddd;
    font-size:5em;
    text-shadow: 2px 1.5px 1px #000;
}
#slide1 h4{
	color: #ddd;
    font-size:1.75em;
    text-shadow: 1px 1px 1px #000;
}
#slide1:before {
    background:
        url("http://res.cloudinary.com/dmj8qtant/image/upload/v1456476049/arch/roomNposter_night2_cfo6hb.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: right;
    background-attachment: fixed;
    transform: translateZ(-1px) scale(1);
    z-index:-1;
}

#slide2 {
    background:url("http://res.cloudinary.com/dmj8qtant/image/upload/v1456476070/arch/elevator_mr10ao.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: left;
    background-attachment: fixed;
}
#slide3:before {
    background:url("http://res.cloudinary.com/dmj8qtant/image/upload/v1456476080/arch/44159284type1_2016_nqt4gl.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
  transform: translateZ(-1px) scale(1);
  z-index:-1;
}
#slide4 {
    background: none;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}