/*features Pure CSS Parallax Scrolling by Keith Clark at http://codepen.io/keithclark/pen/JycFw   , modified to suit uses*/
@font-face { font-family: CabinMed; src: url('Cabin-Medium-TTF.ttf'); }
body{
    font-family: CabinMed;
}
.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
}
.slide {
  position: relative;
  box-sizing: border-box;
  padding: 25vh 10%;
  min-height: 100vh;

  transform-style: inherit;
}
.centered-text{
  text-align: center;
}
.box {
  position: fixed;
  right:10%;
  top:10%;
  width: 400px;
  padding: 30px;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
	z-index: 2;
}
.box p{
  line-height: 1.35em;
}
.box h3{
  font-size: 1.35em;
}

.row {
    margin-top:1.5em;
}
#slide1 h1{
    color: #bbb;
    font-size:5em;
    text-shadow: 2px 1.5px 1px #000;
}
#slide1 h4{
    color: #000;
    font-size:1.75em;
    text-shadow: 1px 1px 1px #000;
}
h5{
    color: #000;
    font-size:1.35em;
    text-shadow: 1px 1px 1px #000;
}
#slide1:before {
    background:
        url("http://res.cloudinary.com/dmj8qtant/image/upload/v1456476049/roomNposter_night2_cfo6hb.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    transform: translateZ(-1px) scale(1);
    z-index:-1;
}

#slide2 {
    background:url("http://res.cloudinary.com/dmj8qtant/image/upload/v1456476070/elevator_mr10ao.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}
#slide3 .centered-text{
    color: #000;
}
#slide3:before {
    background:url("http://res.cloudinary.com/dmj8qtant/image/upload/v1456476080/44159284type1_2016_nqt4gl.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
  transform: translateZ(-1px) scale(1);
  z-index:-1;
}
#slide4 .text{
    color: #000;
}
#slide4 {
    background:url("https://41.media.tumblr.com/eb2382a5a4c996cfdab27bc0d1eb51ff/tumblr_nt5umxS1FY1ud7rr3o1_1280.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}